name: Deploy To Production
on:
  push:
    branches: [main]

env:
  IMAGE_TAG: ${{ github.sha }}
jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Builder and push Docker Image
        run: |
          docker build -t 058264194030.dkr.ecr.us-east-2.amazonaws.com/laravel-lab-planner:latest .
          docker push 058264194030.dkr.ecr.us-east-2.amazonaws.com/laravel-lab-planner:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Copy docker compose to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "compose-prod.yaml"
          target: "/opt/laravel-lab-planner"

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /opt/laravel-lab-planner

            # Login no ECR
            aws ecr get-login-password --region ${{ secrets.AWS_REGION }} | docker login --username AWS --password-stdin ${{ secrets.ECR_REGISTRY }}

            # Criar .env
            cat > .env << EOF
            APP_ENV=production
            APP_DEBUG=false
            FILESYSTEM_DISK=local
            APP_KEY=${{ secrets.APP_KEY }}
            DB_CONNECTION=pgsql
            DB_HOST=${{ secrets.DB_HOST }}
            DB_PORT=5432
            DB_DATABASE=${{ secrets.DB_DATABASE }}
            DB_USERNAME=${{ secrets.DB_USERNAME }}
            DB_PASSWORD=${{ secrets.DB_PASSWORD }}
            OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }}
            ECR_REGISTRY=${{ secrets.ECR_REGISTRY }}
            IMAGE_TAG=${{ secrets.github.sha }} 
            AWS_BUCKET=bc-planner
            AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}
            AWS_DEFAULT_REGION=us-east-2
            QUEUE_CONNECTION=database
            CACHE_STORE=database
            APP_URL=https://beerandcodeworkshops.com.br
            EOF

            # Pull e restart
            docker compose -f compose-prod.yaml pull
            docker compose -f compose-prod.yaml up -d

            # Migrations
            docker compose -f compose-prod.yaml exec -T app php artisan migrate --force

            # Limpar imagens antigas
            docker image prune -af
